<nav>
    <a href="{% url 'student_list' %}" class="nav-logo">
        🎓 Student<span>MS</span>
    </a>

    <div class="nav-links">
        <a href="{% url 'student_list' %}" class="nav-link">Students</a>
        <a href="{% url 'student_search' %}" class="nav-link">🔍 Search</a>
        <a href="{% url 'student_create' %}" class="nav-btn">+ Add Student</a>

        {% if request.user.is_authenticated %}
            <div class="nav-user">
                <div class="nav-avatar">
                    {{ request.user.username|first|upper }}
                </div>
                {{ request.user.username }}
            </div>
            <form method="POST" action="{% url 'logout_view' %}" style="margin:0;">
                {% csrf_token %}
                <button type="submit" class="logout-btn">Logout</button>
            </form>
        {% endif %}
    </div>
</nav>